@font-face {
    font-family: Enigma;
    src: url(Enigma.ttf);
}

#Account,#Movies,#ContactUs{
    color: rgb(239, 239, 59);
    font-size: 20px;
}

#SearchInput{
    border-radius: 15px;
    padding-left: 15px;
}

.col {
    text-align: center;
    height: 70px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0; 
    border: none;
}

.row,.col,div{
    background-color: rgb(240, 8, 8);
}

.row {
    margin: 0;
}

#logo {
    font-size: 30px;
    color: rgb(239, 239, 59);
    font-weight: 600;
    font-family: Enigma;
}



p {
    margin: 0;
    white-space: nowrap;
}

button {
    background-color: rgb(224, 224, 61);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

@media (max-width: 455px) {
    .col {
        height: 50px;
    }

    #Account,#Movies,#ContactUs{
        padding-top: 5px;
        padding-left: 5px;
        color: rgb(239, 239, 59);
        font-size: 17px;
    }
}
