*{
    color:rgb(224, 224, 61);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

}

@font-face {
    font-family: Enigma;
    src: url(Enigma.ttf);
}

.row{
    flex-wrap: wrap;
}

button{
    background-color: rgb(224, 224, 61);
    padding-left: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 10px;
    border: none;

}

div .col{
    padding-left: 0%;
    padding-top: 10px;
} 

div.col.logo{
    padding-top: 1.9px;
}

div#search.col-sm{
    width: 100%;
    background-color: black;
    padding-left: 0%;
}

.col,div{
   background-color: rgb(5, 5, 5);
}

#logo{
    font-size: 30px;
    padding-left: 30px;
    color: rgb(239, 239, 59);
    font-weight: 600;
    font-family: Enigma;
}

p1{
    padding-left: 20px;
}

#search{
    padding-top: 10px;
}

input{
    height: 26.82px;
    color: black;
    padding-left: 5px;
    border-radius: 10px;
}

@media (max-width: 455px) {

    input{
        padding-right: 100px;
        width: 78%;
        padding-left: 10px;
    }

    #searchin{
        width: 100vw;
        background-color: black;
        padding-left: 12px;
        margin-bottom: 10px;
        
    }

    P{
        padding-top: 3.3px;
        margin-bottom: 2px;
    }

    P1{
        padding-left: 15px;
    }

    #contactUs{
        padding-top: 3.3px;
        margin-bottom: 2px;
    }    
    
    #logo{
        font-size: 19px;
        padding-right: 30px;
        padding-left: 20px;
    }
    
    div .col{
        padding-left: 0%;
        padding-top: 0px;
        padding-right: 1px;
    }

    div#search.col-sm{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    button{
        height: 29px;
        background-color: rgb(224, 224, 61);
        padding-left: 10px;
        margin-left: 5px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }

    #Movies{
        padding-left: 11px;
    }

}